* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spo-black: #000000;
    --spo-white: #ffffff;
    --spo-light: #a3a3a3;
    --spo-dark: #080b12;
    --spo-primary: #141922;
    --spo-success: #adff2f;
    --spo-player: #282828;

}

body {
    font-family: 'DM Sans', sans-serif;
}

.top{
    display: flex;
}

.sidebar{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--spo-black);
    color: var(--spo-white);
}

.upgrade-bar{
    height: 90px;

    background-color: var(--spo-dark);
}

.principal{
    width: 100vh;
    height: calc(100vh - 90px);
    background-color: var(--spo-primary);
}

.bottom{
    height: 90px;
    background-color: var(--spo-player);
}