* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spo-black: #000000;
    --spo-white: #ffffff;
    --spo-light: #a3a3a3;
    --spo-dark: #080b12;
    --spo-primary: #141922;
    --spo-success: #adff2f;
    --spo-player: #282828;

}

body {
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
}

.top {
    display: flex;
}

.sidebar {
    width: 230px;
    height: calc(100vh - 90px);
    background-color: var(--spo-black);
    color: var(--spo-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

}

.upgrade-bar {
    height: 90px;

    background-color: var(--spo-dark);
}

.principal {
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    background-color: var(--spo-primary);
}

.bottom {
    height: 90px;
    background-color: var(--spo-player);
}

p {
    color: var(--spo-light);
}

a{
    text-decoration: none;
    color: var(--spo-light);
}

/* Debug */
/* .debug .menu,
.debug .account {
    background-color: grey;
    margin: 1rem;

}

.debug .menu {
    height: 500px;

}

.debug .account {
    height: 50px;
}
 */
/* End Debug */


/* Utilities */
.container {
    height: calc(100% - 90px);
    overflow: auto;
    padding: 1rem;
}

.row {
    display: flex;

 

    margin-bottom: 2rem;
    flex-wrap: wrap;

}

.col-12 {
    width: calc(100% / 12 * 2);
  
}

.card {
    padding: .5rem;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

/* End Utilities */

.upgrade-bar{
    justify-content: flex-end;
    align-items: center;
}

.upgrade-btn{
    border: 1px solid var(--spo-light);
    border-radius: 30px;
    padding: 1rem 2rem;
    
}

.upgrade-btn a{
    color: var(--spo-white);
}

.filters {
    text-transform: uppercase;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.filters h6, .upgrade-btn{
    font-size: .9rem;
}

.underline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: ;
}

.underline hr{
    width: 50%;
    border: 1px solid var(--spo-success);
}



.category {
    color: var(--spo-white);
    padding: 1rem 0 1rem .5rem;
}

.category h5{
    color: var(--spo-light);
    padding: .5rem 0 1rem;
}



.title h3{
    color: white;
    padding: 1rem 0 .5rem;
}

.subtitle{
    color: var(--spo-light);
}


/* Sidebar */

.sidebar{
   
}

.sidebar, .menu{
    display: flex;
    flex-direction: column;
   
}

.logo{
    padding: 1rem;
 
}

.logo img{
    width: 80%;
}

.home {
  border-left: 1px solid var(--spo-success);
}

.menu i, .menu h4{
    color: var(--spo-light);
}

.menu i {
    padding-right: .5rem;
    line-height: .8;
}

.menu{
    padding: ;
}

.sidebar a{
    color: var(--spo-white);
}

.home, .search, .library{
    padding: .8rem 1rem;
}

.playlist{
    padding: 2rem 1rem;
}

.home h4, .home i, .menu .activated {
    color: var(--spo-white);
}

.add{
    background-color: var(--spo-light);
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--spo-black);
}

/* End Sidebar */


/* Responsive */

@media screen and (max-width: 1200px) {
    .col-lg-2 {
        width: calc(100% /12 * 3);
    }
}

@media screen and (max-width: 768px) {
    .col-md-3 {
        width: calc(100% /12 * 6);
    }
}

@media screen and (max-width: 576px) {
    .sidebar{
        width: 50px;
    }
    
    .principal{
        width: calc(100% - 50px);
    }
}